@page 
@model WebApp.Pages.ViewAlbums 
@using ChinookEntities
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Chinook - Albums</title>
  </head>
  <body>
    <h1 class="text-center">@Model.Heading</h1>
    <h5 class="text-center"><a asp-page="/Insert">Insert New Album</a></h5>
    <form method="get" asp-page-handler="search">
      <div class="input-group">
        <input type="search" asp-for="SearchTerm" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary">search</button>
      </div>
    </form>

    <div class="overflow-auto" style="min-height:200px;max-height:500px">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Artist Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            @foreach (Album albums in @Model.albums)
            {
                
                <tr>
                    <td>@albums.Title</td>
                    <td>@(albums.artists != null ? albums.artists.Name : "")</td>
                    <td>
                      <form action="~/Delete" method="post" onsubmit="return confirm('Are you sure you want to delete this album?');">
                          @Html.AntiForgeryToken()
                          <input type="hidden" name="hdnAlbumId" value="@albums.AlbumId">
                          <input class="btn-danger" type="submit" value="Delete">
                      </form>
                      <form action="~/Update/@albums.AlbumId" class="d-inline-block">
                          @Html.AntiForgeryToken()
                          <input type="hidden" name="hdnAlbumId" value="@albums.AlbumId">
                          <input class="btn-success" type="submit" value="Update">
                      </form>
                    </td>
                </tr>
            }
        </tbody>
      </table>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </body>
</html>
